* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

.header {
     display: flex;
     justify-content: space-between;
     margin: 20px 50px;
     padding: 20px 50px;
}

.view-score {
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: 0 0 0 8px black;

}

.opening {
    margin: 20px;
    padding: 20px;

}

.container {
    width: 600ox;
    height: 3000px;
    text-align: center;
}

.title {
    margin: 15px;
    font-size: 30px;
}

.text {
    margin: 10px;
    font-size: 20px;
    line-height: 1.5;

}

.btn {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    color: #fff;
    background-color: blueviolet;
    border: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;

}

.btn-start {
    width: 220px;
}

.btn-answer {
    width: 350px;
    text-align: left;
}

.divider {
    visibility: hidden;
    border: 2px solid rgba(128, 128,0.5);
    margin: 0 auto;
}

.result {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.check-result {
    font-size: 25px;
    font-style: italic;
    color: aqua;
    letter-spacing: 1px;
}

.list {
    list-style: decimal;
}






